<div class="box">
  <div class="periodic" data-atomic="{{Number}}">
    <div class="number periodic-col-1">1</div>
    <div class="number periodic-col-2">2</div>
    <div class="number periodic-col-3">3</div>
    <div class="number periodic-col-4">4</div>
    <div class="number periodic-col-5">5</div>
    <div class="number periodic-col-6">6</div>
    <div class="number periodic-col-7">7</div>
    <div class="number periodic-col-8">8</div>
    <div class="number periodic-col-9">9</div>
    <div class="number periodic-col-10">10</div>
    <div class="number periodic-col-11">11</div>
    <div class="number periodic-col-12">12</div>
    <div class="number periodic-col-13">13</div>
    <div class="number periodic-col-14">14</div>
    <div class="number periodic-col-15">15</div>
    <div class="number periodic-col-16">16</div>
    <div class="number periodic-col-17">17</div>
    <div class="number periodic-col-18">18</div>
    <div class="number periodic-row-1">1</div>
    <div class="number periodic-row-2">2</div>
    <div class="number periodic-row-3">3</div>
    <div class="number periodic-row-4">4</div>
    <div class="number periodic-row-5">5</div>
    <div class="number periodic-row-6">6</div>
    <div class="number periodic-row-7">7</div>
    <div class="element element-1 element-s-block"></div>
    <div class="element element-2 element-s-block"></div>
    <div class="element element-3 element-s-block"></div>
    <div class="element element-4 element-s-block"></div>
    <div class="element element-5 element-p-block"></div>
    <div class="element element-6 element-p-block"></div>
    <div class="element element-7 element-p-block"></div>
    <div class="element element-8 element-p-block"></div>
    <div class="element element-9 element-p-block"></div>
    <div class="element element-10 element-p-block"></div>
    <div class="element element-11 element-s-block"></div>
    <div class="element element-12 element-s-block"></div>
    <div class="element element-13 element-p-block"></div>
    <div class="element element-14 element-p-block"></div>
    <div class="element element-15 element-p-block"></div>
    <div class="element element-16 element-p-block"></div>
    <div class="element element-17 element-p-block"></div>
    <div class="element element-18 element-p-block"></div>
    <div class="element element-19 element-s-block"></div>
    <div class="element element-20 element-s-block"></div>
    <div class="element element-21 element-d-block"></div>
    <div class="element element-22 element-d-block"></div>
    <div class="element element-23 element-d-block"></div>
    <div class="element element-24 element-d-block"></div>
    <div class="element element-25 element-d-block"></div>
    <div class="element element-26 element-d-block"></div>
    <div class="element element-27 element-d-block"></div>
    <div class="element element-28 element-d-block"></div>
    <div class="element element-29 element-d-block"></div>
    <div class="element element-30 element-d-block"></div>
    <div class="element element-31 element-p-block"></div>
    <div class="element element-32 element-p-block"></div>
    <div class="element element-33 element-p-block"></div>
    <div class="element element-34 element-p-block"></div>
    <div class="element element-35 element-p-block"></div>
    <div class="element element-36 element-p-block"></div>
    <div class="element element-37 element-s-block"></div>
    <div class="element element-38 element-s-block"></div>
    <div class="element element-39 element-d-block"></div>
    <div class="element element-40 element-d-block"></div>
    <div class="element element-41 element-d-block"></div>
    <div class="element element-42 element-d-block"></div>
    <div class="element element-43 element-d-block"></div>
    <div class="element element-44 element-d-block"></div>
    <div class="element element-45 element-d-block"></div>
    <div class="element element-46 element-d-block"></div>
    <div class="element element-47 element-d-block"></div>
    <div class="element element-48 element-d-block"></div>
    <div class="element element-49 element-p-block"></div>
    <div class="element element-50 element-p-block"></div>
    <div class="element element-51 element-p-block"></div>
    <div class="element element-52 element-p-block"></div>
    <div class="element element-53 element-p-block"></div>
    <div class="element element-54 element-p-block"></div>
    <div class="element element-55 element-s-block"></div>
    <div class="element element-56 element-s-block"></div>
    <div class="element element-57 element-f-block"></div>
    <div class="element element-58 element-f-block"></div>
    <div class="element element-59 element-f-block"></div>
    <div class="element element-60 element-f-block"></div>
    <div class="element element-61 element-f-block"></div>
    <div class="element element-62 element-f-block"></div>
    <div class="element element-63 element-f-block"></div>
    <div class="element element-64 element-f-block"></div>
    <div class="element element-65 element-f-block"></div>
    <div class="element element-66 element-f-block"></div>
    <div class="element element-67 element-f-block"></div>
    <div class="element element-68 element-f-block"></div>
    <div class="element element-69 element-f-block"></div>
    <div class="element element-70 element-f-block"></div>
    <div class="element element-71 element-d-block"></div>
    <div class="element element-72 element-d-block"></div>
    <div class="element element-73 element-d-block"></div>
    <div class="element element-74 element-d-block"></div>
    <div class="element element-75 element-d-block"></div>
    <div class="element element-76 element-d-block"></div>
    <div class="element element-77 element-d-block"></div>
    <div class="element element-78 element-d-block"></div>
    <div class="element element-79 element-d-block"></div>
    <div class="element element-80 element-d-block"></div>
    <div class="element element-81 element-p-block"></div>
    <div class="element element-82 element-p-block"></div>
    <div class="element element-83 element-p-block"></div>
    <div class="element element-84 element-p-block"></div>
    <div class="element element-85 element-p-block"></div>
    <div class="element element-86 element-p-block"></div>
    <div class="element element-87 element-s-block"></div>
    <div class="element element-88 element-s-block"></div>
    <div class="element element-89 element-f-block"></div>
    <div class="element element-90 element-f-block"></div>
    <div class="element element-91 element-f-block"></div>
    <div class="element element-92 element-f-block"></div>
    <div class="element element-93 element-f-block"></div>
    <div class="element element-94 element-f-block"></div>
    <div class="element element-95 element-f-block"></div>
    <div class="element element-96 element-f-block"></div>
    <div class="element element-97 element-f-block"></div>
    <div class="element element-98 element-f-block"></div>
    <div class="element element-99 element-f-block"></div>
    <div class="element element-100 element-f-block"></div>
    <div class="element element-101 element-f-block"></div>
    <div class="element element-102 element-f-block"></div>
    <div class="element element-103 element-d-block"></div>
    <div class="element element-104 element-d-block"></div>
    <div class="element element-105 element-d-block"></div>
    <div class="element element-106 element-d-block"></div>
    <div class="element element-107 element-d-block"></div>
    <div class="element element-108 element-d-block"></div>
    <div class="element element-109 element-d-block"></div>
    <div class="element element-110 element-d-block"></div>
    <div class="element element-111 element-d-block"></div>
    <div class="element element-112 element-d-block"></div>
    <div class="element element-113 element-p-block"></div>
    <div class="element element-114 element-p-block"></div>
    <div class="element element-115 element-p-block"></div>
    <div class="element element-116 element-p-block"></div>
    <div class="element element-117 element-p-block"></div>
    <div class="element element-118 element-p-block"></div>
    <div class="element lanthanide-placeholder ref-f-block">L</div>
    <div class="element actinide-placeholder ref-f-block">A</div>
    <div class="element lanthanide-header ref-f-block">L</div>
    <div class="element actinide-header ref-f-block">A</div>
  </div>
  <div class="picture">
    {{Picture}}
  </div>
  <div class="symbol">
    <div class="element-chip">
      <div class="element-symbol">
        <sub class="atomic">{{Number}}</sub><span class="answer-symbol">{{Symbol}}</span>
      </div>
    </div>
  </div>
  <div class="name">
    <span class="answer-name">{{Name}}</span>
  </div>
  <div class="description">{{Memory sentence}}</div>
</div>
<script>
  var atomic = document.querySelector(".periodic").getAttribute("data-atomic");
  document.querySelectorAll(".element").forEach(el => {
    if (el.classList.contains(`element-${atomic}`)) {
      el.classList.add("element-selected");
    } else {
      el.classList.remove("element-selected");
    }
  });
</script>
