.card {
    font-family: "Roboto";
}
.picture {
    height: 100px;
    width: 100px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
}
img {
    height: 100px;
    width: 100px;
}

.box {
    width: 320px;
    height: 350px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    margin: auto;
}

.nightMode .box {
    box-shadow: 0 2px 2px 0 rgba(255, 255, 255, .5), 0 3px 1px -2px rgba(255, 255, 255, .2), 0 1px 5px 0 rgba(255, 255, 255, .5);
}

.box_title {
    background: #ffecb3;
    padding: 16px;
    text-align: center;
}
.box_title_text {
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    min-height: 35px;
}
.box_title_text sub {
    color: rgba(0, 0, 0, 0.7);
}
.box_text {
    color: rgba(0, 0, 0, .5);
    font-size: 1rem;
    line-height: 18px;
    overflow: hidden;
    padding: 16px;
    width: 90%
}

.box_text h2 {
    margin: 0 0 10px 0;
    color: rgba(0, 0, 0, .7);
    font-family: "Roboto Slab";
}

.nightMode .box_text {
    color: rgba(255, 255, 255, .7);
}

.nightMode .box_text h2 {
    color: rgba(255, 255, 255, .9);
}


.periodic {
  display: inline-block;
  height: 95px;
  width: 180px;
  margin-right: -1px;
  text-shadow: none;
  vertical-align: middle;
}

.periodic-row {
  clear: both;
	  height: 10%;
}

.cell {
  float: left;
  position: relative;
  width: 5.55%;
  height: 100%;
}

.element {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 1px;
  right: 1px;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(255,255,255,0.5);
  border: 1px solid rgba(0,0,0,0.05);
  text-align: center;
  cursor: default;
  pointer-events: none;
  
  background-color: rgba(0, 0, 0, .25);
}
